@font-face {
    font-family: "Circe Bold";
    src: url("fonts/circe/circe_700.ttf") format("truetype");
    font-style: normal;
}


@font-face {
    font-family: "Circe Semibold";
    src: url("fonts/circe/circe_600.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Circe";
    src: url("fonts/circe/circe_300.ttf") format("truetype");
    font-style: normal;
}

div.content {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 24px;
    margin-left: 25px;
}

div.images {

    width: 491px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    
}

div.images_col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 120px;
    height: 500px;
}

img.images_col-first,
img.images_col-second,
img.images_col-third {
    width: 90px;
    
    margin-bottom: 30px;
}



div.images_current {
    display: block;
    margin-left: 32px;

    height: 485px;
    width: 339px;
    display: flex;
    justify-content: center;
    
}

img.images_col-first:hover ~ div.images_current  {

    
    background: url("images/img1.webp");
    background-size: 339px;
}

img.images_col-second:hover ~ div.images_current {

    background: url('images/img2.webp');
    background-size: 339px;
}

img.images_col-third:hover ~ div.images_current {

    background: url('images/img3.webp');
    background-size: 339px;
}

div.descr {
    display: block;

    width: 445px;
    padding-left: 31px;
    padding-right: 31px;
}

h1 {
    margin-top: 55px;
    text-transform: uppercase;
    font-family: "Circe Semibold";
    font-size: 24px;
}

a {
    text-decoration: none;
    font-family: "Circe";
    
}

a.descr_link {
    margin-right: 32px;
}

div.descr_links {
    display: flex;
    flex-direction: row;
    
    font-size: 13px;
}

div.descr_price {
    margin-top: 56px;
    display: flex;
    flex-direction: row;
    font-family: "Circe";
}

span.descr_old-price {
    text-decoration: line-through;
    font-family: "Circe";
    color: #c8c7c7;
    font-size: 18px;
}

span.descr_current-price {
    margin-left: 12px;
    font-family: "Circe Semibold";
    color: #a1a1a1;
    font-size: 18px;
}

b {
    font-family: "Circe Semibold";
}

span.descr_discount-price {
    margin-left: 36px;
    font-size: 18px;
}

div.descr_transfer{
    background-color: #f4f4f4;
    font-family: "Circe";
    font-size: 13px;
    margin-top: 15px;
    padding-left: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
}

div.descr_to-buy {
    display: flex;
    flex-direction: row;
    margin-top: 15px;

}

button.descr_to-buy-btn {
    height: 30px;
    width: 30px;
    border: 1px solid #a1a1a1;
    line-height: 30px;
    background-color: white;
    font-family: "Circe";
    font-size: 28px;
}

button.descr_to-buy-btn:hover {
    background-color: #f4f4f4;
}

button.left {
    border-radius: 3px 0 0 3px;
}

button.right {
    border-radius:  0 3px 3px 0 ;
}

span.descr_to-buy-count {
    height: 28px;
    width: 50px;
    border: 1px solid #a1a1a1;
    background-color: #f4f4f4;
    font-family: "Circe";
    font-size: 18px;
    text-align: center;
    line-height: 30px;
} 

div.descr_buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    
}

button.descr_btn {
    background-color: white;
    color: black;
    font-family: "Circe Semibold";
    width: 165px;
    height: 40px;
    margin-right: 23px;
    text-transform: uppercase;
    border-radius: 0px;
    border: none;

}

button.descr_btn:hover {
    background-color: rgb(239, 239, 239);
}

button.blue {
    background-color: #006be5;
    color: white;
}

button.blue:hover {
    background-color: #5698e4;
    color: white;
}

div.descr_about {
    margin-top: 45px;
    font-family: "Circe";
    font-size: 13px;
}

div.descr_share {
    
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: uppercase;
    font-family: "Circe";
    font-size: 13px;
}



a.descr_share-icon,
a.descr_share-icon:hover {
    display: block;

    margin-left: 10px;
    width: 30px;
    height: 30px;
    background-size: 30px;
}

.vk {
    display: block;
    background: url("images/vk_blind.png");
    width: 30px;
    height: 30px;
}

.vk:hover {
    background: url("images/vk.png"); 
}

.gp {
    display: block;
    background: url("images/g+_blind.png");
    width: 30px;
    height: 30px;
}

.gp:hover {
    background: url("images/g+.png");
}

.fb {
    display: block;
    background: url("images/fb_blind.png");
    width: 30px;
    height: 30px;
}

.fb:hover {
    background: url("images/fb.png");
}


.tw {
    display: block;
    background: url("images/tw_blind.png");
    width: 30px;
    height: 30px;
}

.tw:hover {
    background: url("images/tw.png");
}


div.descr_count {
    position: relative;
}

img.descr_count-img {
    
    margin-left: 10px;
}



p.descr_count-text {
    position: absolute;
    left: 28px;
    top: 8px;
    margin-top: 0;
}